<div class="col-md-6 center service-form">
  <h1 class="text-center">Edit <span class="service-name"><%= @service.title%></span></h1>
  <%= form_for @service do |f| %>
    <% if @service.errors.any?%>
      <h2><%= pluralize(@service.errors.count, "error") %> prevented this client from saving:</h2>
      <ul>
        <% @service.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <%end%>
      </ul>
    <%end%>

    <div class="form-group col-md-12">
      <% if @service.services_img.exists? %>
        <%= image_tag @service.services_img.url(:thumb) %>
      <%end%>
      <br>
      <%= f.label :services_img %>
      <%= f.file_field :services_img, class: "validate" %>

    </div>

    <div class="form-group col-md-12">
      <%= f.label :title %>
      <%= f.text_field :title, {class: 'form-control form-input'} %>
    </div>

    <div class="form-group col-md-12">
      <%= f.label :description %>
      <%= f.text_area :description, :rows => "4", class: 'form-control form-input' %>
    </div>

    <div class="col-md-6">
      <button type="submit" class="btn btn-border-purple-submit" style="margin-bottom:10px;">Submit</button>
    </div>

    <div class="col-md-6">
      <% @contents.each do |content| %>
         <%= link_to "Cancel", root_path, {class: 'btn btn-border-orange'} %>
      <%end%>
    </div>

  <%end%>
</div>
