<div class="col-md-6 center service-form">
  <h1 class="padding-section" style="text-align: center;">Edit "<%= @service.title %>"</h1>
  <%= form_for @service do |f| %>
    <% if @service.errors.any?%>
      <h2><%= pluralize(@service.errors.count, "error") %> prevented this client from saving:</h2>
      <ul>
        <% @service.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <%end%>
      </ul>
    <%end%>

    <div class="form-group">
      <% if @service.services_img.exists? %>
        <%= image_tag @service.services_img.url(:medium) %>
      <%end%>
      <br>
      <%= f.label :services_img %>
      <%= f.file_field :services_img, class: "validate" %>

    </div>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, {class: 'form-control form-input'} %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, {class: 'form-control form-input'} %>
    </div>
    <button type="submit" class="btn sendbtn">Submit</button>

  <%end%>
</div>
