<div class="col-md-10 center-block upcoming-programs-form padding-bottom-top">
  <h1 style="text-align: center;">New content</h1>
  <%= form_for @content do |f| %>
    <% if @content.errors.any?%>
      <h2><%= pluralize(@content.errors.count, "error") %> prevented this client from saving:</h2>
      <ul>
        <% @content.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <%end%>
      </ul>
    <%end%>

    <div class="form-group">
      <%= f.label :slogan_title %>
      <%= f.text_field :slogan_title, {class: 'form-control form-input'} %>
    </div>

    <button type="submit" class="btn sendbtn">Submit</button>

  <%end%>
</div>
