<% @contents.each do |content| %>
  <%= render partial: 'contents/sections/header'%>
  <%= render partial: 'contents/sections/services'%>
  <%= render partial: 'contents/sections/slogan'%>
  <%= render partial: 'contents/sections/gallery'%>
  <%= render partial: 'contents/sections/contact'%>
  <%= render partial: 'contents/sections/footer'%>
  <a><%= link_to "Edit", edit_content_path(content), {class: "btn sendbtn"} %></a>
<%end%>
