<% @contents.each do |content|%>
  <div class="container-fluid footer">
    <a class="btn btn-warning" role="button" data-toggle="collapse" data-target="#footer-edit" aria-expanded="false"    aria-controls="collapseExample">
      Editar Footer
    </a>
    <div class="container">
      <div class="col-md-12">
        <div class=" col-xs-12 col-sm-8 col-md-4 center">
          <ul class=" footer-links">
            <% if content.fb_username.empty?%>

            <%else%>
              <li><a href="https://www.facebook.com/<%= content.fb_username%>"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <%end%>
            <% if content.ig_username.empty?%>
            <%else%>
              <li><a href="https://www.instagram.com/<%= content.ig_username%>"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <%end%>
            <% if content.twitter_username.empty?%>
            <%else%>
              <li><a href="https://twitter.com/<%= content.twitter_username%>"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <%end%>
            <% if content.in_username.empty?%>
            <%else%>
              <li><a href="https://linkedin.com/in/<%= content.in_username%>"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            <%end%>
            <% if content.pin_username.empty?%>
            <%else%>
              <li><a href="https://www.pinterest.com/<%= content.pin_username%>"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
            <%end%>
          </ul>
        </div>
      </div>

      <div class="col-md-12">
          <div class="col-md-7 center">
            <ul class=" footer-links">

              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">Contact</a></li>
              <li><a role="button" data-toggle="collapse" data-target="#loginDrop" aria-expanded="false"    aria-controls="collapseExample">
                Login
              </a></li>

            </ul>
          </div>
      </div>
    </div>
  </div>
<%end%>
