<div id="services" class="container padding-section">
  <h1 class="text-center">
    <% @contents.each do |content|%>
      <%= content.services_title%>
    <%end%>
  </h1>
  <div class="col-md-6 center padding-section-elements-bottom">
    <hr>
  </div>
  <% @services.each do |service|%>
    <div class="col-sm-3 col-md-3">
      <div class="col-md-6 center">
        <%= image_tag service.services_img, class: "img-responsive"%>
      </div>
      <h3 class="text-center">
        <%= service.title %>
      </h3>
      <p class="text-center">
        <%= truncate(service.description, length: 200)%>
      </p>
      <% if user_signed_in? %>
        <a><%= link_to "Delete", service_path(service), method: :delete, data: { confirm: "Are you sure you want to delete this poor lonely service? If so HaHa poor service!" }, class: "btn btn-danger" %></a>
        <a><%= link_to "Edit Service", edit_service_path(service), {class: "btn sendbtn"} %></a>
        <a><%= link_to "New Service", new_service_path(@service), {class: "btn sendbtn"} %></a>
      <%end%>
    </div>
  <%end%>
</div>
