<div class="col-md-10 center-block upcoming-programs-form padding-bottom-top">
  <h1 style="text-align: center;">New portfolio</h1>
  <%= form_for @portfolio do |f| %>
    <% if @portfolio.errors.any?%>
      <h2><%= pluralize(@portfolio.errors.count, "error") %> prevented this client from saving:</h2>
      <ul>
        <% @portfolio.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <%end%>
      </ul>
    <%end%>

    <div class="form-group">
      <%= f.label :portfolios_img %>
      <% if @portfolio.portfolios_img.exists? %>
        <%= image_tag @portfolio.portfolios_img.url(:thumb) %>
      <%end%>
      <%= f.file_field :portfolios_img, class: "validate", placeholder:"@portfolio.portfolios_img_file_name" %>
    </div>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, {class: 'form-control form-input'} %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, {class: 'form-control form-input'} %>
    </div>
    <button type="submit" class="btn sendbtn">Submit</button>

  <%end%>
</div>
