<div class="col-md-6 center slogan-form">
  <%= form_for @slogan do |f| %>
    <% if @slogan.errors.any?%>
      <h2><%= pluralize(@slogan.errors.count, "error") %> prevented this client from saving:</h2>
      <ul>
        <% @slogan.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <%end%>
      </ul>
    <%end%>

    <div class="form-group col-md-3">
      <%= f.label :title %>
      <%= f.text_field :title, {class: 'form-control form-input'} %>
    </div>
    <button type="submit" class="btn sendbtn">Submit</button>

  <%end%>
</div>
