<!DOCTYPE html>
<html>
<head>
  <title>OhtTemplate2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if notice %>
    <div id="notice-wrapper">
      <p class="notice"><%= notice %></p>
    </div>
  <%elsif alert%>
    <div id="notice-wrapper">
      <p class="alert"><%= alert %></p>
    </div>
  <%end%>

  <% if current_page?(root_path) %>
    <!-- MINIMIZED -->
    <nav class="shrink-nav navbar navbar-default navbar-fixed-top">
      <div class="container">


        <!-- NAV STARTS -->
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <% @contents.each do |content| %>
              <a class="navbar-brand" ><%= content.name %></a>
            <%end%>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#home">Home</a></li>
              <li><a href="#services">Services</a></li>
              <li><a href="#gallery">Portfolio</a></li>
              <li><a href="#contact">Contact</a></li>
              <% if user_signed_in? %>
                <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn-border" %></li>
              <%end%>
            </ul>

          </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
      </div>
    </nav>
  <%end%>


<%= yield %>
</body>
</html>
